body {
    font-family: Arial, sans-serif;
    background-color:beige;

    display: flex; /* Use Flexbox */

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.container{
        
        padding: 20px;
        border-radius: 10px;

        background-color:#606875;
        box-shadow: #606875;
        text-align: center;
    
}



label {
    color: #FFCDB2;
    border: 2px groove #FFCDB2; /* Add border */

    margin-top: 30px;
    margin-inline: 90px;
    padding: 20px;

    border-radius: 20px;
    width: 100px;

    font-size: medium;
    text-align: center;
    display: block;
}

input, select, button {
    
    background-color: bisque;
    color: #606875;
    border-radius: 10px;
    border-color:bisque;
    
    width: fit-content;

    padding: 10px;
    margin-top: 20px;
    

    font-size: 16px;
    cursor: pointer;
}

button{
    display: block;
    margin-inline: 120px;
}
button:hover {
    background-color: #ffffff;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: azure;
    text-align: center; /* Center the result text */
}
